@import "../scss/variables";
@import "../scss/reset";

.table-blog tbody tr td {
    vertical-align: middle !important;
}

.table-blog tbody tr td img, 
.table-blog tbody tr td div {
    display: flex;
    align-items: center;
}

