@import "../scss/variables";
@import "../scss/reset";

#news_blog .modal-dialog,
#view_detail_blog .modal-dialog,
#edit_blog .modal-dialog {
    max-width: 50% !important;
    width: 50%;
}
#view_detail_blog strong {
    font-size: 16px;
    font-weight: 410;
}
@media  screen and (max-width: 900px) {
    #news_blog .modal-dialog,
    #view_detail_blog .modal-dialog,
    #edit_blog .modal-dialog {
        max-width: 96% !important;
        width: 96%;
    }
}
