@import "variables";
@import "reset";
@import "../css/baiviet";
@import "../css/chitietbaiviet";
@import "../css/sanpham";
@import "../css/chitietsanpham";
@import "../css/trangchu";

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}
input:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}
// input
.input_outline:focus {
  outline: none !important;
  box-shadow: none !important;
}
// BORDER
.br-1-main {
  border: solid #e1e5eb;
}
// SIZE
.size-16{
  width: 16px;
  height: 16px;
}
.size-18 {
  width: 18px;
  height: 18px;
}
.size-20 {
  width: 20px;
  height: 20px;
}
.size-24 {
  width: 24px;
  height: 24px;
}
.size-30 {
  width: 30px;
  height: 30px;
}
.size-50 {
  width: 50px;
  height: 50px;
}
.max-h-44 {
  max-height: 40px;
}
.h-btn-i {
  height: 40px;
}

/* FONT SIZE */
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px !important;
}
/* FONT WEIGHT */
.fw-medium {
  font-weight: 500;
}
// TEXT
.text-black-main {
  color: $black-main;
}
.text-black-sub {
  color: $black-sub;
}
.text-blue-main {
  color: $blue_main;
}
.text-red-main {
  color: #e1501b;
}
.fill__red {
  filter: invert(36%) sepia(83%) saturate(3450%) hue-rotate(352deg)
    brightness(96%) contrast(105%);
}
.fill__black-sub {
  filter: invert(1) brightness(0.4);
}
.fill__blue {
  filter: invert(25%) sepia(88%) saturate(3000%) hue-rotate(220deg)
    brightness(95%) contrast(100%);
}
.icon__white {
  filter: invert(1) brightness(1000%);
}
// backgr color
.bg-gray {
  background-color: $bg-gray;
}
.bg-blue {
  background-color: $bg-blue_main;
}
// curosr
.cursor-pointer {
  cursor: pointer;
}
// select
.select-none {
  user-select: none !important;
}
/* auth */
.authform__container {
  background-color: $bg-gray;
  height: 100vh;
  padding: 0px 8px;
}
.auth__form {
  max-width: 460px;
  .form__btn {
    background-color: $bg-blue_main;
    &:hover {
      opacity: 0.9;
    }
  }
}
//
.grid__common {
  display: grid;
  grid-template-columns: 20% 80%;
}

// sidebar
.sidebar__menu > ul {
  display: grid;
  gap: 6px;
  list-style: none;
  padding-right: 24px;
}
.sidebar__menu > ul > li {
  padding: 0;
}
.sidebar__menu > ul > li > a.active {
  color: $blue_main;
  background-color: #ecf3ff;
}

.sidebar__menu > ul > li > a,
.sidebar__menu > ul > li > ul > li > a,
.sidebar__menu > ul > li > span.accordion__button > span {
  text-decoration: none;
  font-weight: 500;
  padding: 11px 12px;
  display: block;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  font-size: 14px;
  color: #344055;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $blue_main;
  }
}

.sidebar__menu > ul > li > span {
  color: $black-sub;
  font-size: 12px;
  padding: 8px 0px;
  display: block;
  user-select: none;
  cursor: default;
}
.sidebar__menu > ul > li > a.active,
.sidebar__menu > ul > li > ul > li > a.active {
  color: $blue_main;
  font-weight: 600;
}
.sidebar__menu > ul > li > a.active > img,
.sidebar__menu > ul > li > ul > li > a.active > img {
  filter: invert(32%) sepia(98%) saturate(3000%) hue-rotate(220deg)
    brightness(95%) contrast(100%);
}
.sidebar__menu > ul > li > a > img,
.sidebar__menu > ul > li > ul > li > a > img,
.sidebar__menu > ul > li > span.accordion__button > span > img,
.sidebar__menu > ul > li > span.accordion__button > img {
  width: 18px;
  height: 18px;
  filter: invert(1) brightness(0.6);
}
.sidebar__menu > ul > li > span.accordion__button > span {
  display: flex;
  align-items: center;
  justify-content: start;
  flex: 1;
}
.sidebar__menu > ul > li > span.accordion__button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  cursor: pointer;
}
// menu 2
.sidebar__menu > ul > li > ul {
  list-style: none;
  margin-left: 16px;
}
.sidebar__menu > ul > li:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}
.sidebar__menu > ul > li:hover > a > img {
  filter: invert(32%) sepia(98%) saturate(3000%) hue-rotate(220deg)
    brightness(95%) contrast(100%);
}
// header
.header {
  border-bottom: 1px solid #e1e5eb;
}
.logo__wrapper {
  img {
    width: 34px;
    height: 34px;
  }
}
.header__icon__mobile {
  &:hover {
    cursor: pointer;
  }
}
.header__search {
  outline: none;
  &:focus {
    outline: none !important;
    border-color: transparent !important;
    box-shadow: none !important;
  }
}
.header__action {
  transition: all 0.2s ease-in-out;
  .action__img {
    width: 44px;
    height: 44px;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 4px #999;
  }
}
.dropdown__user {
  ul {
    list-style: none;
    li {
      a {
        text-decoration: none;
        color: $black-main;
        padding: 6px 12px;
        display: block;
        &:hover {
          color: $blue_main;
        }
      }
    }
  }
}
// side bar mobile
.sidebar__mobile {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #f8f9fa;
  transition: left 0.3s ease-in-out;
  z-index: 1050;
  overflow-y: auto;
}
.sidebar__mobile.show {
  left: 0;
}
// overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  display: none;
}
.overlay.show {
  display: block;
}
#mobileMenuToggle {
  &:hover {
    cursor: pointer;
  }
}
.loading__content__page {
  display: none;
  visibility: hidden;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: red;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.loading__content__page.active {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
// content
#content {
  min-height: 100vh;
  background-color: $bg-gray;
}
// hủy hover mặc định bootraps
.btn__cancel__hover {
  border: 0.5px solid transparent;
  &:hover {
    background-color: inherit !important;
    color: inherit !important;
    opacity: 0.9;
    border: 0.5px solid #999;
  }
}
.btn__cancel__hover.bg-blue {
  &:hover {
    color: white !important;
    background-color: $bg-blue_main !important;
    opacity: 0.9;
  }
}
// end sidebar mobile
.input__filter {
  min-width: 150px;
  max-width: 160px;
}
.obf-cover {
  object-fit: cover;
}
// resize modal
.resize__modal > div {
  min-width: 70vw !important;
}
// table css
.table__main {
  border-collapse: collapse;
  th {
    background-color: $bg-gray;
    cursor: default;
    min-width: 150px;
  }
  th:first-child {
    min-width: 50px;
  }
  tr {
    padding: 8px 0px !important;
    font-size: 14px;
    transition: all 0.1s ease-in-out;
    &:hover {
      background-color: $bg-gray;
      cursor: pointer;
    }
    td {
      vertical-align: middle;
    }
  }
}
.table__main.table > :not(caption) > * > * {
  padding: 0.8rem 0.5rem;
}
// button
.btn-group-lg > .btn,
.btn-lg {
  --bs-btn-padding-y: 0.3rem !important;
}
// img_media
.input_img_media {
  border: 4px dashed rgb(188, 173, 173);
}
.section_img_media {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}
.section_img_media >div {
  margin: 5px;
  border: 1px solid black;
}

/* Container chung cho dropdown */
.dropdown {
    position: relative;
    display: inline-block;

      /* Nút bấm dropdown */
      .dropdown-toggle {
        color: rgb(27, 25, 25);
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
      }
    
      /* Danh sách các mục trong dropdown (ẩn mặc định) */
      .dropdown-menu {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: white;
        min-width: 300px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        z-index: 10;
        list-style: none;
        padding: 10px;
        margin: 5px 0;
        
        /* Các mục trong dropdown */
        div {
          display: flex;
          justify-content: space-between;
          font-size: 16px;
          margin-top: 20px;

          // button
          button {
            background: white;
            color: $blue_main;
            border: none;
            padding: 0;
          }
        }
        
        li {
          border-bottom: 1px solid #ddd;
          font-size: 14px;
          margin-top: 10px;
        }

        li:last-child {
          border-bottom: none;
        }

        a {
          display: flex;
          font-size: 12px;  
          align-items: center;
          padding: 10px 15px;
          text-decoration: none;
          color: $black-main;
          transition: 0.3s;

          img {
            height: 40px;
            width: 40px;
            border: 1px solid rgb(213, 199, 199);
            border-radius: 20px;
            margin-right: 10px;
          }
        }

        a:hover {
          background-color: #f1f1f1;
          color: $blue_main;
        }
      }
}

/* Hiển thị dropdown khi có class 'show' */
.dropdown-menu.show {
  display: block;
}


/* RESPONSIVE */
@media (max-width: 1200px) {
  .grid__common {
    grid-template-columns: 24% 76%;
  }
}
@media (max-width: 992px) {
  .resize__modal > div {
    width: 80vw !important;
  }
  .grid__common {
    grid-template-columns: 25% 75%;
  }
}
@media (max-width: 768px) {
  .resize__modal > div {
    width: 90vw;
  }
  .grid__common {
    grid-template-columns: 100%;
  }
}
@media (max-width: 576px) {
  .auth__form {
    padding: 1.2rem !important;
  }
  .size-18 {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 424px) {
  .auth__form {
    width: 95% !important;
  }
}
